.category-item {
    aspect-ratio: 16 / 9;
    display: flex;
    flex: 1 0 11rem;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.65rem;
    max-width: 12rem;
}

@media all and (max-width: 768px) {
    .category-item {
        aspect-ratio: 4/3;
        flex: 1 0 8rem;
    }
}

.category-item-text {
    font-weight: bold;
    font-family: "Inter";
    font-size: 1rem;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.389);
}