.category-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 4rem;
}

.category-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 4rem;
}

.category-link-to{
    color: blue;
    margin-top: 1.5rem;
    display: block;
    text-align: left;
    padding-left: 4rem;
    font-size: 0.75rem;
}