.comment{
    padding: 1.5rem; 
    border-radius: 8px;
    border: 1px solid #EEE;   
}
.testimonial .comment p{
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #4C526A;
    font-family: "Inter";
}
.comment img{
    margin-top: 2rem;
}
.comment h3{
    font-size: 1rem;
    color: #020D37;
    font-family: "Inter";
}
.comment span{
    font-size: 0.75rem;
    color: #ACAFB8;    
    font-family: "Inter";
}
@media screen and (max-width: 825px) {
    .comment:nth-last-child(1){
        display: none;
    }
}