.search-sec{
    margin: 3rem auto ;
    width: fit-content;
    text-align: left;

}

.search-box{
    display: flex;
    width: 600px;
    padding: 1.5rem 260px 1.5rem 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #EEE;
    background-image: url("./TheHead/search-icon.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1.5rem;
}
input::placeholder {
    color: #4C526A;
    font-size: 1.2rem;
    padding-left: 3rem;
}
.search-sec p{
    margin-top: 0.5rem;
    font-size: 0.75rem;
}
@media screen and (max-width: 770px) {
    .search-sec{
        width: 80vw;
    }
    .search-box{
        width:100%;
        padding: 1.5rem 30px 1.5rem 20px;
    }
}
